.App {
  text-align: center;
  position: relative;
}

.main-content {
  padding-top: 70px;
}

section {
  min-height: 100vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
